@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  
}

/* ----------For cursor ------------------- */
.circle {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}